#root {
    max-width: 1280px;
    margin: 4rem auto;
    justify-content: center;
    padding: 5rem 2rem 2rem 2rem;
    font-family: 'Fira Sans', sans-serif;
    color: var(--main-color);
    background-color: var(--bg-color);
}
