/********************************

Special Font: Khmer MN
Normal Font: Karla

Main Color: #2B2B2B
Secondary Color: #4E5A68

**********************************/

/**********************
 RESUABLE           
**********************/

.centered {
  padding-top: 40rem;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
} 

.column {
  flex-direction: column;
}

svg  {
  background-color: #2B2B2B;
}

button {
  background-color: #2B2B2B;
  text-decoration: none;
  border: none;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10rem;
}



/**********************
 HOME           
**********************/

.main-title {
  color: #FFF;
  font-family: Khmer MN;
  /*font-size: 220px;*/
  font-size: 22rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  text-decoration: none; 
}

/**********************
 NAVBAR           
**********************/

.navbar-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10rem;
}

.nav-link {
  width: 367px;
  height: 99px;
  flex-shrink: 0; 
  flex-grow: 0;
  background-color: #4E5A68;

  color: #FFF;
  font-family: Karla;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: normal; 
  
  border-radius: 35px;
  
  /*width: 1245px;
  height: 230px;*/
  text-align: center;
}

.nav-link p {
  display: block;
  margin: auto auto;
  
  padding-top: 2rem;
}

/**********************
 LOGIN           
**********************/

/**********************
 REGISTER           
**********************/

/**********************
 RECIPE          
**********************/

.small-image {
  max-width: 200px;
  max-height: 200px;
}

/**********************
 ADD RECIPE          
**********************/

/**********************
 MODIFY RECIPE           
**********************/

/**********************
 REVIEW           
**********************/

/**********************
 SEARCH           
**********************/

/**********************
 FAVORITES           
**********************/

/**********************
 YOUR RECIPES           
**********************/

/**********************
 MODIFY RECIPE          
**********************/

