/*

Special Font: Khmer MN
Normal Font: Karla

Main Color: #2B2B2B
Secondary Color: #4E5A68

*/

body {
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B2B2B;
  color: #fff;
  box-sizing:border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-spacer {
  margin: 1rem;
}

.main-title {
  color: #FFF;
  font-family: Khmer MN;
  /*font-size: 220px;*/
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  text-decoration: none; 
}

/*.main-title-container {
  width: 1245px;
  height: 230px;
  flex-shrink: 0; 
}*/



