/* * {
    font-family: 'Fira Sans', sans-serif;
} */

:root {
    --main-color: #242424;
    --accent-color: #7e9dc2;
    --bg-color: #fff;
    color: var(--main-color);
    background-color: var(--bg-color);
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
    :root {
    }
} */
